{# Usage
	<twig:grinway:btn
		btn_block:content="my btn"
		btn:class="btn-primary"
		
		btn_badge="new"
		btn_badge:class="bg-success bg-gradient"
	/>
#}

{% props
	btn_badge = null,
%}

{% set btn_badge_default_content = include('components/grinway/unit/btn/_badge_three_dots.html.twig') %}

{% set btn_class = btn_badge ? 'btn position-relative' : 'btn' %}

<button {{ attributes.nested('btn').defaults({
		class: btn_class,
	}) }}>
	<span {{ attributes.nested('span').defaults({ class: 'w-100 h-100' }) }}>
		{%- block content -%}
			<span {{ attributes.nested('btn_block_attr').defaults({
				class: 'p-0 m-0',
			}) }}>
				{{ attributes
					.nested('btn_block')
					.only('content')|u
						.match('~"(?<btn_content>.+)"$~')['btn_content']
					|default('Button')|raw
				}}
			</span>
			
			{% if btn_badge != null %}
				<span {{ attributes.nested('btn_badge_absolute_container').defaults({
						class: 'position-absolute top-0 start-100 border-0 translate-middle',
					}) }}
				>
					<span {{ attributes.nested('btn_badge').defaults({
							class: 'badge rounded-pill',
						}) }}
					>
						{% if btn_badge is same as(true) %}
							{{- btn_badge_default_content|raw -}}
						{% else %}
							{{- btn_badge -}}
						{% endif %}
					</span>
				</span>
			{% endif %}
		{%- endblock -%}
	</span>
</button>