{# Usage:
	#1
	<twig:grin_way_svg>{{ id_var }}</twig:grin_way_svg>
	
	#2
	<twig:grin_way_svg :id="id_var"/>
#}

{% props svg_container_style = null %}

<div {{ attributes.nested('container').defaults({ style: "width: 24px; height: 24px; #{svg_container_style}" }) }}>
	<svg {{ attributes.nested('svg').defaults({ class: 'w-100 h-100' }) }}>
		<use xlink:href="{{- asset('grinwaywebappbundle/images/svg/sprite.svg') -}}#{{- attributes.has('id') ? attributes.render('id') : block('content') -}}"></use>
	</svg>
</div>
