{% extends 'base.html.twig' %}

{% block title %}AppEasyAdminCinema index{% endblock %}

{% block body %}
    <h1>AppEasyAdminCinema index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for app_easy_admin_cinema in app_easy_admin_cinemas %}
            <tr>
                <td>{{ app_easy_admin_cinema.id }}</td>
                <td>{{ app_easy_admin_cinema.name }}</td>
                <td>{{ app_easy_admin_cinema.description }}</td>
                <td>{{ app_easy_admin_cinema.duration }}</td>
                <td>
                    <a href="{{ path('app_easy_admin_cinema_show', {'id': app_easy_admin_cinema.id}) }}">show</a>
                    <a href="{{ path('app_easy_admin_cinema_edit', {'id': app_easy_admin_cinema.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_easy_admin_cinema_new') }}">Create new</a>
{% endblock %}
