{% extends 'base.html.twig' %}

{% block title %}AppEasyAdminCinema{% endblock %}

{% block body %}
    <h1>AppEasyAdminCinema</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ app_easy_admin_cinema.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ app_easy_admin_cinema.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ app_easy_admin_cinema.description }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ app_easy_admin_cinema.duration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_easy_admin_cinema_index') }}">back to list</a>

    <a href="{{ path('app_easy_admin_cinema_edit', {'id': app_easy_admin_cinema.id}) }}">edit</a>

    {{ include('app_easy_admin_cinema/_delete_form.html.twig') }}
{% endblock %}
