<div>
	<div class="">
		Годов: {{ field.value.y|default(0) }}
	</div>
	<div class="">
		Месяцев: {{ field.value.m|default(0) }}
	</div>
	<div class="">
		Дней: {{ field.value.d|default(0) }}
	</div>
	<div class="">
		Часов: {{ field.value.h|default(0) }}
	</div>
	<div class="">
		Минут: {{ field.value.i|default(0) }}
	</div>
	<div class="">
		Секунд: {{ field.value.s|default(0) }}
	</div>
</div>