<div
	{{ attributes }}
>
	<div>
		{{ include('cropper/_show.html.twig') }}
	</div>

	{{ form_start(form, { attr: {
		'novalidate': 'novalidate',
		'data-controller': 'grinway--dropzone',
		'data-action': 'dropzone:change->grinway--dropzone#dropzoneChange',
		'data-model': 'debounce(500)|on(change)|*',
	} }) }}
		
		{{ form_widget(form.file) }}
		{{ form_widget(form.isUseCrop, { attr: {
			'data-model': 'norender|app_image_form[isUseCrop]',
		}}) }}
		
		{{ form_rest(form) }}
		<button
			type="submit"
			class="btn btn-primary"
		>
			Update
		</button>
	{{ form_end(form) }}
</div>