{% extends 'home/layout.html.twig' %}

{%- trans_default_domain 'messages' -%}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}

{%- block home_title ' index'|title -%}

{% block body %}
	
	<div class="" style="font-family: roman;">
		<a href="{{- login_link ?? '' -}}">LOGIN LINK</a>
	</div>
	
	{#
	{%- if qr_code_data_uri is defined and qr_code_data_uri -%}
		<img src="{{- qr_code_data_uri -}}" alt="img"></img>
	{%- endif -%}
	{{- qr_code_data_uri('Data') -}}
	{{ dump(asset_version('media/image/symfony.png')) }}
	#}
	
	<div {{ stimulus_controller('hello') }} data-proto='<input {{ stimulus_controller('hello') }} type="text"/>' class="">
		<input type="text" {{ stimulus_target('hello', 'input') }}/>
		<button {{ stimulus_action('hello', 'clicked') }} class="btn btn-outline-primary">Button</button>
		<div {{ stimulus_target('hello', 'output') }} class="">
			EMPTY
		</div>
	</div>
	
{% endblock %}