{% extends 'home/layout.html.twig' %}

{%- trans_default_domain 'messages' -%}

{%- block meta -%}
	{{ parent() }}
{%- endblock -%}

{%- block outside_title -%}
	<title {{ stimulus_controller('title') }}>
		Title
	</title>
{%- endblock -%}

{% block body %}

	
	
	
	
	
	
	
	<div class="">
		<h1 class="display-3" tabindex="1">GRID (row>col)</h1>
		<div class="text-small mb-2">Просто кликни для выделения</div>
	</div>
	
	<div id="test" class="app-test-grid text-bg-primary" tabindex="1">
		<div class="block row g-1">
			<div class="block__item h3 col-6">
				<div class="border border-2 border-print-0 rounded p-2 user-select-all">
					<div class="">DIV 1</div>
				</div>
			</div>
			<div class="block__item  col-6">
				<div class="bg-secondary bg-gradient rounded-1 p-2 user-select-all">
					<var>DIV 2</var>
				</div>
			</div>
			<div class="block__item  col">
				<div class="bg-secondary bg-gradient rounded-1 p-2 user-select-all">
					<samp>DIV 2</samp>
				</div>
			</div>
			
			<div class="block__item text-muted  col">
				<div class="bg-secondary bg-gradient rounded-1 p-2 user-select-all">
					DIV 3
				</div>
			</div>
			
			<div class="block__item  col">
				<div class="bg-secondary bg-gradient rounded-1 p-2 text-truncate user-select-all">
					DIV 4
				</div>
			</div>
			<div class="block__item  col">
				<div class="bg-secondary bg-gradient rounded-1 p-2 user-select-all">
					DIV 5
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div class="test-background row">
		<div class="col-12 col-md-4 order-md-2">
			<img class="img-thumbnail" src="{{ asset('clients/media/image/p1.jpg') }}" alt="test">
		</div>
		<div class="col-12 col-md-8 order-md-1">
			<p class="lead position-sticky top-0 text-truncate">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, officia, aut, neque eligendi odit est quidem dolorem voluptas delectus tenetur a nemo tempora excepturi ipsam maiores non nisi! Voluptate, natus sed. Quaerat, optio, a aperiam sunt aspernatur quod voluptate est quisquam in corporis minus ut unde rerum vero ipsa dolorem.
			</p>
		</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	

	{% set img_class = 'app-width--small' %}
	{% set mobile_dop_class = is_mobile|default(false) ? ' app-user-select--none' %}

	{{ dump(is_mobile) }}

	<div
		{{ stimulus_controller('carousel') }}
		class="{{- 'swiper ms-0 ' ~ img_class ~ mobile_dop_class -}}"
	>
		<div class="swiper-wrapper text-center">
			<div class="swiper-slide">
				<img class="{{- img_class -}}" src="{{ asset('clients/media/image/p1.jpg') }}" alt="slide-image">
			</div>
			<div class="swiper-slide">
				<img class="{{- img_class -}}" src="{{ asset('clients/media/image/p2.jpg') }}" alt="slide-image">
			</div>
			<div class="swiper-slide">
				<img class="{{- img_class -}}" src="{{ asset('clients/media/image/p3.jpg') }}" alt="slide-image">
			</div>
		</div>
	</div>
	
	<div
		class=""
		{{ stimulus_controller('grinway--code-mirror') }}
	>
		<button
			class="btn btn-danger"
			{{ stimulus_action('grinway--code-mirror', 'setJavascriptLanguage') }}
		>javascript</button>
		<button
			class="btn btn-danger"
			{{ stimulus_action('grinway--code-mirror', 'setPhpLanguage') }}
		>php</button>
		<button
			class="btn btn-danger"
			{{ stimulus_action('grinway--code-mirror', 'setSimpleExample') }}
		>simple</button>
		<button
			class="btn btn-danger"
			{{ stimulus_action('grinway--code-mirror', 'setDefaultCursorPosition') }}
		>default cursor position</button>
		<div
			{{ stimulus_target('grinway--code-mirror', 'editor') }}
		></div>
	</div>
	
	<button class="btn btn-large btn-primary"
		{{ stimulus_controller('swal') }}
		data-action="
			swal#showSwal:stop
			turbo:before-cache@window->swal#close
		"
	>
		SHOW Sweet Alert
	</button>
	
	<div class="p-2 rounded btn btn-dark d-block"
		{{ stimulus_controller('event-stream') }}
	>
		EVENT STREAM
	</div>
	
	<div class="" style="font-family: roman;">
		<a href="{{- login_link ?? '' -}}">LOGIN LINK</a>
	</div>
	
	{#
	{%- if qr_code_data_uri is defined and qr_code_data_uri -%}
		<img src="{{- qr_code_data_uri -}}" alt="img"></img>
	{%- endif -%}
	{{- qr_code_data_uri('Data') -}}
	{{ dump(asset_version('media/image/symfony.png')) }}
	#}

	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, ut, odit aperiam delectus dolorem fugiat doloremque molestiae recusandae molestias provident omnis vel adipisci atque. Sit, dicta, ad, exercitationem mollitia nobis numquam ullam minus cum officia praesentium dolore quaerat tempora doloribus dolor quia illo quis consequuntur modi repellendus vel soluta doloremque et quos expedita eum molestias voluptatem. Ut, voluptates reprehenderit ipsum odio? Aperiam, sapiente, quia, aliquid nisi totam necessitatibus animi mollitia laudantium nostrum magnam amet esse reiciendis eligendi accusantium blanditiis sunt facilis a neque possimus ipsam quaerat veniam dolorum illo. Hic, fuga, velit, eius, nostrum expedita possimus atque natus ipsa suscipit vel accusamus veniam voluptatem non ut quam obcaecati rerum? Repellat, doloremque, perspiciatis deleniti nostrum adipisci minus ipsa est veniam vero itaque voluptates id corrupti quam mollitia sunt voluptas repellendus ducimus accusamus autem dolores doloribus praesentium illo illum. Facilis, magnam, maxime, voluptatibus vel molestias quod accusantium suscipit officiis velit tenetur iste ex consequatur cumque aut eius repudiandae voluptates ea ut nemo exercitationem? Deserunt, consequuntur, consectetur temporibus dignissimos nihil pariatur dolorem ratione assumenda eum ducimus. Magni, reiciendis ipsum magnam unde cum doloribus facilis tempore quo iusto quas illum sint voluptates eius pariatur excepturi veritatis fugiat praesentium nesciunt dolorem odio mollitia saepe natus iure. Alias, ipsa, porro sapiente fuga tenetur iste expedita quae aut sed sit tempore placeat neque voluptate. Voluptatibus, culpa, veniam, consequuntur temporibus nostrum fugiat veritatis provident dolorum ab fugit cupiditate sit expedita quod nam architecto doloremque aspernatur optio odio enim voluptate. Nam, tenetur quia accusamus nisi explicabo delectus officia inventore ut. Nihil, labore, in, quis, obcaecati totam distinctio odit quae hic perferendis reprehenderit delectus impedit ab architecto sapiente voluptatem error eius ipsum ullam voluptates porro. Eligendi, ipsa cum officia iure distinctio nisi ab cupiditate commodi quidem praesentium omnis consequatur iste eaque. Porro, dolores sit ab fuga adipisci maiores et quas!
	
	<div class=""
		{{ stimulus_controller('lightbox') }}
	></div>

	<turbo-frame id="app_home_index_about">
		This application uses UX, Stimulus, Turbo and that's rather possible that it'll be using
		corona virus
	</turbo-frame>
	
{% endblock %}