{% extends 'base.html.twig' %}

{% set pagination_exists = pagination|default(false) %}

{% block head_inner %}
    {% if pagination_exists %}
        {{ knp_pagination_rel_links(pagination) }}
    {% endif %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class=""
         {{ stimulus_controller('grinway/pure-bundle') }}
    >
        PURE UX BUNDLE STIMULUS CONTROLLER
    </div>

    {{ path|file_excerpt(5) }}

{#    {{ include('home/test_escaping_strategy_as_first_ext.js.twig') }}#}

    <a href="{{ fragment_uri(controller('App\\Controller\\HomeController::noRouteMethod'), absolute=true) }}">ссылка</a>

    {{ html|default('null')|raw }}

    <div class="font-monospace fs-1 text-center my-3"
            {{ stimulus_controller('lodash') }}
    >Lodash js lib
    </div>

    {% if pagination_exists %}
        {{ knp_pagination_filter(pagination, {
            'o.id': 'Идентификатор',
            'o.title': 'Заголовок',
        }) }}

        <div class="">
            <div class="">Items</div>
            <div class="">{{ pagination.getTotalItemCount }}</div>
        </div>
        {{ dump(pagination.isSorted('o.id')) }}

        <div class="row row-cols-3">
            <div class="col">
                <div class="">
                    {{ knp_pagination_sortable(pagination, 'Identifier OLD FIRST'|trans(domain='pagination'), 'o.id', {app_not_include_icon: true}, {direction: 'ASC'}) }}
                </div>
                <div class="">
                    {{ knp_pagination_sortable(pagination, 'Identifier NEW FIRST'|trans(domain='pagination'), 'o.id', {app_not_include_icon: true}, {direction: 'DESC'}) }}
                </div>
            </div>
            <div class="col">{{ knp_pagination_sortable(pagination, 'Title', 'o.title') }}</div>
            <div class="col mb-2">{{ knp_pagination_sortable(pagination, 'Description', 'o.description') }}</div>

            {% for item in pagination %}
                <div class="col">{{ item.id }}</div>
                <div class="col">{{ item.title }}</div>
                <div class="col mb-5">{{ item.description }}</div>
            {% endfor %}
        </div>

        {{ knp_pagination_render(pagination) }}

    {% else %}
        <div class="display-4">Результатов нет</div>
        <a href="{{ path(app.current_route, app.current_route_parameters) }}">Back</a>
    {% endif %}
{% endblock %}
