{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}{{ ea.context.dashboardTitle }}{% endblock %}

{% block head_javascript %}
	{{ parent() }}
{% endblock %}

{% block head_stylesheets %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div
	{{ stimulus_controller('html-listener') }}
	class="container {{ block('theme', 'blocks/_cookie.html.twig') }}">
		{{ parent() }}
	</div>
{% endblock %}

{% block main %}
	
{% endblock %}