{% extends 'base.html.twig' %}
{#
{% trans_default_domain 'validation' %}
#}

{% block body %}
	
	{% set s = 'Lorem :kiwi-fruit::interrobang: ipsum dolor sit amet, consectetur adipisicing elit. Omnis magni explicabo ab molestias     asperiores laboriosam quod sequi sed. Atque, harum.' %}
	{% set len = s|u.length %}
	
	<div class="container mb-3">
		<div class="">
			{#
			{{ s|emojify|u.truncate(20, '...', false) }}
			#}
		</div>
		<div class="">
			{{ s|u.splice('...', 5, (len - 20)) }}
		</div>
	</div>

	<div class=""
		{{ stimulus_controller('some-content') }}
	></div>

	<div id="app_product_form" class="container">
		{% block product_form %}
			{%- set emptyHtml = form(emptyForm) -%}
			{{ form_start(form, { attr: {
			novalidate: 'novalidate', 'data-controller': 'before-cache-cleaner', 'data-action': 'turbo:before-cache@window->before-cache-cleaner#clean', 'clear_html': emptyHtml|e('html_attr') } }) }}
				{{ form_rest(form) }}
				<twig:grinway:btn
					data-turbo-submits-with="Процесс..."
				type="submit" class="btn-large btn-secondary">SUBMIT</twig:grinway:btn>
			{{ form_end(form) }}
		{% endblock %}
	</div>
	
	<turbo-frame
		id="app_post_all_items"
		
		{{ stimulus_controller('turbo-frame-back-btn', controllerValues={
			uri: app.request.uri,
		}) }}
		data-turbo-eval="false"
		data-action="
			turbo:before-frame-render->turbo-frame-back-btn#addBackBtnToNextElement
		"
	>
		<div class="">Item 1</div>
		<div class="">Item 2</div>
		<div class="">Item 3</div>
		<small>...</small>
		<form
		method="get" action="/post">
			<twig:grinway:btn class="btn-small btn-success"
			>
				Show all items
			</twig:grinway:btn>
		</form>
	</turbo-frame>
	
{% endblock body %}


{% block turbo_form_success %}
	{{ include('hotwired/turbo-stream/base/flash.html.twig') }}
	
	<turbo-stream action="update" targets="#app_product_form">
		<template>
			{{ block('product_form') }}
		</template>
	</turbo-stream>
{% endblock %}