{% extends 'base.html.twig' %}
{#
{% trans_default_domain 'validation' %}
#}

{% block body %}
	
	<div id="swup">
		Содержимое со страницы "{{ url(app.current_route) }}"
	</div>
	
	{% set s = 'Lorem :kiwi-fruit::interrobang: ipsum dolor sit amet, consectetur adipisicing elit. Omnis magni explicabo ab molestias     asperiores laboriosam quod sequi sed. Atque, harum.' %}
	{% set len = s|u.length %}
	
	<div class="container mb-3">
		<div class="">
			{#
			{{ s|emojify|u.truncate(20, '...', false) }}
			#}
		</div>
		<div class="">
			{{ s|u.splice('...', 5, (len - 20)) }}
		</div>
	</div>

	<div class=""
		{{ stimulus_controller('some-content') }}
	></div>

	<turbo-frame
		id="app_frame_product_form"
	>
		<div id="app_product_form" class="container">
		{% block product_form %}
			
			{%- set btnHtml = component('grinway:btn', {
				type: 'submit',
				class: 'btn-large btn-secondary',
				'data-turbo-submits-with': 'Процесс...',
				
				'btn_block:content': 'SUBMIT',
			}) -%}
			{%- set emptyHtml = form(emptyForm)~btnHtml -%}
			
			{{ form_start(form, { attr: {
			novalidate: 'novalidate', 'data-controller': 'grinway--cleaner', 'data-action': 'turbo:before-cache@window->grinway--cleaner#clean', 'clear_element': emptyHtml|e('html_attr') } }) }}
				{{ form_rest(form) }}
				{{ btnHtml|raw }}
			{{ form_end(form) }}
		{% endblock %}
	</div>
	</turbo-frame>
	
	
	
	<div class="text-bg-dark p-1 rounded my-1">
		<h1>Live search</h1>
		
		<twig:live-search
			entity_class='App\\Entity\\Task'
		/>
	</div>
	
	
	
	<turbo-frame
		id="testing"
	>
		<form method="post">
			{{ random }}
			<button class="btn btn-sm btn-success">
				<span class="w-100 h-100">VISIT ON SUCCESS but fetch in turbo-frame on form failure</span>
			</button>
		</form>
	</turbo-frame>
	
	<turbo-frame
		id="app_post_all_items"
		target="_top"
		
		{{ stimulus_controller('turbo-frame-back-btn', controllerValues={
			uri: app.request.uri,
		}) }}
		data-turbo-eval="false"
		data-action="
			turbo:before-frame-render->turbo-frame-back-btn#addBackBtnToNextElement
		"
	>
		<div class="">Item 1</div>
		<div class="">Item 2</div>
		<div class="">Item 3</div>
		<small>...</small>
		<form
			data-turbo-stream
			method="get"
			action="{{- path('app_post') -}}"
		>
			<twig:grinway:btn class="btn-small btn-success"
			>
				Show all items
			</twig:grinway:btn>
		</form>
	</turbo-frame>
	
{% endblock body %}


{% block turbo_form_success %}
	{{ include('hotwired/turbo-stream/base/flash.html.twig') }}
	
	<turbo-stream action="update" targets="#app_product_form">
		<template>
			{{ block('product_form') }}
		</template>
	</turbo-stream>
{% endblock %}