{% extends 'base.html.twig' %}
{#
{% trans_default_domain 'validation' %}
#}

{% block body %}
	
	{% set s = 'Lorem :kiwi-fruit::interrobang: ipsum dolor sit amet, consectetur adipisicing elit. Omnis magni explicabo ab molestias     asperiores laboriosam quod sequi sed. Atque, harum.' %}
	{% set len = s|u.length %}
	
	<div class="container mb-3">
		<div class="">
			{#
			{{ s|emojify|u.truncate(20, '...', false) }}
			#}
		</div>
		<div class="">
			{{ s|u.splice('...', 5, (len - 20)) }}
		</div>
	</div>

	<div class=""
		{{ stimulus_controller('some-content') }}
	></div>

	<div id="app_product_form" class="container">
		{% block product_form %}
			{{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
				{{ form_rest(form) }}
				<twig:grinway:btn type="submit" class="btn-large btn-secondary" >SUBMIT</twig:grinway:btn>
			{{ form_end(form) }}
		{% endblock %}
	</div>
	
{% endblock body %}


{% block turbo_form_success %}
	{{ include('hotwired/turbo-stream/base/flash.html.twig') }}
	
	<turbo-stream action="update" targets="#app_product_form">
		<template>
			{{ block('product_form') }}
		</template>
	</turbo-stream>
{% endblock %}