{% extends 'base.html.twig' %}

{% block title %}Live chat{% endblock %}

{% block body %}
	<div class="messages-container"
		{{ turbo_stream_listen(topicPrefixFromHeader ~ 'main-live-chat') }}
	>
		<div class="messages rounded text-bg-dark p-1 my-1">
			{{ messages ?? '<div id="no-messages-yet">No messages yet</div>' }}
		</div>
		<turbo-frame id="main-live-chat-form"
			refresh="morph"
		>
			{{ form_start(form) }}
				{{ form_rest(form) }}
				<twig:grinway:btn class="btn-large btn-outline-primary">
					Отправить
				</twig:grinway:btn>
			{{ form_end(form) }}
		</turbo-frame>
		{#
		#}
	</div>
{% endblock %}
