{%- block choice_widget -%}
	{%- if app_count is defined and app_count != false -%}
		<div class="position-relative">
			<span class="badge badge-circle text-bg-primary p-2 m-0 rounded-pill  position-absolute end-0 top-0 translate-middle-y">{{- app_count -}}</span>
			{{- block('select_widget') -}}
		</div>
	{%- else -%}
		{{- block('select_widget') -}}	
	{%- endif -%}
{%- endblock -%}

{%- block select_widget -%}
	<select class="form-select" name="{{- name -}}">
		{%- for choice in choices -%}
			<option value="{{- choice.value -}}">{{- choice.label -}}</option>
		{%- endfor -%}
	</select>
{%- endblock -%}