{%- extends 'base.html.twig' -%}

{%- block title '2FA' -%}

{%- block body -%}
	
	<div class="container">
		{# Authentication errors #}
		{%- if authenticationError -%}
			<p>{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</p>
		{%- endif -%}
		
		{# Let the user select the authentication method #}
		{%- if availableTwoFactorProviders|length > 1 -%}
			<p>{{ "choose_provider"|trans({}, 'SchebTwoFactorBundle') }}:
				{% for provider in availableTwoFactorProviders %}
					<a href="{{ path("2fa_login", {"preferProvider": provider}) }}">{{ provider }}</a>
				{% endfor %}
			</p>
		{%- endif -%}
	
		<div class="form mb-3">
			{{- form_start(form, {action: checkPathUrl ? checkPathUrl : path(checkPathRoute)}) -}}
				{{- form_row(form) -}}
				
				{%- if displayTrustedOption -%}
					<p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> {{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</label></p>
				{%- endif -%}
				
				{%- if isCsrfProtectionEnabled is defined and true == isCsrfProtectionEnabled -%}
					<input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
				{%- endif -%}
				{#
				#}
				
				<twig:grinway:btn class="btn-outline-primary">
					Авторизироваться
				</twig:grinway:btn>
			{{- form_end(form, {render_rest: true}) -}}
			<p class="cancel"><a href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a></p>
		</div>
		
		{%- if is_granted("IS_AUTHENTICATED_2FA_IN_PROGRESS") -%}
			{%- if qr_code_uri is defined and qr_code_uri -%}
				<div class="text-center">
					QR Code for "{{- provider_name -}}"
				</div>
				<div class="d-flex">
					<img class="mx-auto" src="{{- qr_code_uri -}}" alt="qr2fa">
				</div>
			{%- endif -%}
		{%- endif -%}
		
	</div>
{%- endblock -%}


