{%- if "prod" != app.environment -%}

	{%- set impersonation_email = 'cvetkov.ignatij@agafonova.com' -%}
	
	{%- set securitySvgClass = "m-auto pt-1 mt-n1 ms-1" -%}
	
	<div class="">
		SESSION
		{{ dump(app.session.all) }}
	</div>
	
	<div class="">
		GET PARAMETERS
		{{ dump(app.request.query.all) }}
	</div>

	<div class="">
		REQUEST ATTRIBUTES
		{{ dump(app.request.attributes.all) }}
	</div>
	
	{%- if is_granted('VOTE_IS_AUTH') -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">VOTE_IS_AUTH</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}" id="ok" />
			</div>
		</div>
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">NOT VOTE_IS_AUTH</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}"  id="no" />
			</div>
		</div>
	{%- endif -%}
	
	{%- if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">IS_AUTHENTICATED_ANONYMOUSLY</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}" id="ok" />
			</div>			
		</div>
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">NOT IS_AUTHENTICATED_ANONYMOUSLY</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}"  id="no" />
			</div>
		</div>
	{%- endif -%}
	
	{%- if is_granted('IS_AUTHENTICATED_FULLY') -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">IS_AUTHENTICATED_FULLY</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}" id="ok" />
			</div>
		</div>
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">NOT IS_AUTHENTICATED_FULLY</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}"  id="no" />
			</div>
		</div>
	{%- endif -%}
	
	{%- if is_granted('IS_REMEMBERED') -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">IS_REMEMBERED</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}"  id="ok" />			
			</div>
		</div>
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">NOT IS_REMEMBERED</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}"  id="no" />
			</div>
		</div>
	{%- endif -%}
	
	{%- if is_granted('IS_AUTHENTICATED_REMEMBERED') -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">IS_AUTHENTICATED_REMEMBERED</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}"  id="ok" />			
			</div>
		</div>
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">NOT IS_AUTHENTICATED_REMEMBERED</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}"  id="no" />
			</div>
		</div>
	{%- endif -%}
	
	{%- if is_granted('IS_AUTHENTICATED') -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">IS_AUTHENTICATED</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}"  id="ok" />
				<div class="">
					{{ get_short_class(app.token) }}
				</div>
			</div>
		</div>
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">NOT IS_AUTHENTICATED</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}"  id="no" />
			</div>
		</div>
	{%- endif -%}
	
	{%- if is_granted('IS_IMPERSONATOR') -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">IS_IMPERSONATOR</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}"  id="ok" />
			</div>
		</div>
		<div class="d-inline">
			<div class="d-flex align-items-center">
				<div class="">IS_IMPERSONATOR</div>
				<a href="{{ impersonation_exit_path() }}" class="">EXIT</a>
			</div>
		</div>
		{%- if attribute(app.token, 'originalToken') is defined -%}
			<div class="d-flex align-items-center">
				<div class="d-inline">
					But actually you're: "{{ app.token.originalToken.user.userIdentifier -}}"
				</div>
			</div>
		{%- endif -%}
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			<div class="d-flex align-items-center">
				<div class="">NOT IS_IMPERSONATOR</div>
				<twig:grinway:svg width="20px" height="20px" stroke="black" stroke-width="10" class="{{ securitySvgClass }}"  id="no" />
			</div>
		</div>
		<div class="d-inline">
			<a href="{{- impersonation_path(impersonation_email) -}}" class="">PRETEND</a>
		</div>
	{%- endif -%}
	
	{%- if is_granted('ROLE_OWNER') -%}
		<div class="">
			<div class="badge text-bg-secondary">
				USER ID: {{ app.user.userIdentifier }}
			</div>
		</div>
	{%- endif -%}
	
	{% block debug_user %}
		{%- if app.user -%}
			<div class="mb-4">
				{{ dump(app.user) }}
			</div>
		{%- endif -%}
	{% endblock %}			
	
	<div class="mb-4">
		{% block debug_info %}
			<div class="badge text-bg-success">
				Request locale: {{ app.request.locale }}
			</div>
		{% endblock %}			
	</div>
	
{%- endif -%}