{%- if "prod" != app.environment -%}

	{%- set impersonation_email = 'cvetkov.ignatij@agafonova.com' -%}
	
	{%- set securitySvgClass = "m-auto pt-1" -%}
	
	<div class="">
		SESSION
		{{ dump(app.session.all) }}
	</div>

	<div class="">
		REQUEST ATTRIBUTES
		{{ dump(app.request.attributes.all) }}
	</div>
	
	{%- if is_granted('VOTE_IS_AUTH') -%}
		<div class="badge text-bg-secondary me-1">
			VOTE_IS_AUTH <twig:grinway:svg container:class="{{ securitySvgClass }}" id="ok" />
		</div>
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			NOT VOTE_IS_AUTH <twig:grinway:svg container:class="{{ securitySvgClass }}"  id="not" />
		</div>
	{%- endif -%}
	
	{%- if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') -%}
		<div class="badge text-bg-secondary me-1">
			IS_AUTHENTICATED_ANONYMOUSLY <twig:grinway:svg container:class="{{ securitySvgClass }}" id="ok" />
		</div>
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			NOT IS_AUTHENTICATED_ANONYMOUSLY <twig:grinway:svg container:class="{{ securitySvgClass }}"  id="not" />
		</div>
	{%- endif -%}
	
	{%- if is_granted('IS_AUTHENTICATED_FULLY') -%}
		<div class="badge text-bg-secondary me-1">
			IS_AUTHENTICATED_FULLY <twig:grinway:svg container:class="{{ securitySvgClass }}" id="ok" />
		</div>
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			NOT IS_AUTHENTICATED_FULLY <twig:grinway:svg container:class="{{ securitySvgClass }}"  id="not" />
		</div>
	{%- endif -%}
	
	{%- if is_granted('IS_REMEMBERED') -%}
		<div class="badge text-bg-secondary me-1">
			IS_REMEMBERED <twig:grinway:svg container:class="{{ securitySvgClass }}"  id="ok" />			
		</div>
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			NOT IS_REMEMBERED <twig:grinway:svg container:class="{{ securitySvgClass }}"  id="not" />
		</div>
	{%- endif -%}
	
	{%- if is_granted('IS_AUTHENTICATED_REMEMBERED') -%}
		<div class="badge text-bg-secondary me-1">
			IS_AUTHENTICATED_REMEMBERED <twig:grinway:svg container:class="{{ securitySvgClass }}"  id="ok" />			
		</div>
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			NOT IS_AUTHENTICATED_REMEMBERED <twig:grinway:svg container:class="{{ securitySvgClass }}"  id="not" />
		</div>
	{%- endif -%}
	
	{%- if is_granted('IS_AUTHENTICATED') -%}
		<div class="badge text-bg-secondary me-1">
			IS_AUTHENTICATED
			<twig:grinway:svg container:class="{{ securitySvgClass }}"  id="ok" />
			<div class="">
				{{ get_short_class(app.token) }}
			</div>
		</div>
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			NOT IS_AUTHENTICATED <twig:grinway:svg container:class="{{ securitySvgClass }}"  id="not" />
		</div>
	{%- endif -%}
	
	{%- if is_granted('IS_IMPERSONATOR') -%}
		<div class="badge text-bg-secondary me-1">
			IS_IMPERSONATOR <twig:grinway:svg container:class="{{ securitySvgClass }}"  id="ok" />
		</div>
		<div class="d-inline">
			IS_IMPERSONATOR <a href="{{ impersonation_exit_path() }}" class="">EXIT</a>
		</div>
		{%- if attribute(app.token, 'originalToken') is defined -%}
			<div class="d-inline">
				But actually you're: "{{ app.token.originalToken.user.userIdentifier -}}"
			</div>
		{%- endif -%}
	{%- else -%}
		<div class="badge text-bg-secondary me-1">
			NOT IS_IMPERSONATOR <twig:grinway:svg container:class="{{ securitySvgClass }}"  id="not" />
		</div>
		<div class="d-inline">
			<a href="{{- impersonation_path(impersonation_email) -}}" class="">PRETEND</a>
		</div>
	{%- endif -%}
	
	{%- if is_granted('ROLE_OWNER') -%}
		<div class="">
			<div class="badge text-bg-secondary">
				USER ID: {{ app.user.userIdentifier }}
			</div>
		</div>
	{%- endif -%}
	
	{% block debug_user %}
		{%- if app.user -%}
			<div class="mb-4">
				{{ dump(app.user) }}
			</div>
		{%- endif -%}
	{% endblock %}			
	
	<div class="mb-4">
		{% block debug_info %}
			<div class="badge text-bg-success">
				Request locale: {{ app.request.locale }}
			</div>
		{% endblock %}			
	</div>
	
{%- endif -%}