<div
	{{ attributes }}
>
	{{ form_start(form, { attr: formAttr }) }}
		
		{{ form_rest(form) }}
		
		<button
			class="btn btn-large btn-ghost"
			{{ live_action('update') }}
		>
			{{- updateBtnText -}}
		</button>
		
	{{ form_end(form, { render_rest: false }) }}
</div>