{%- block menu -%}
	<div {{ attributes.nested('menu').defaults({class: 'menu'}) }}>
		{%- block content -%}{%- endblock -%}
		<ul>
			<li><a href="{{ path('app_login', {}) }}">Log in</a></li>
			<li><a href="{{ path('_logout_main', {}) }}">Log out MAIN FIREWALL</a></li>
			<li><a href="{{ path('app_register', {}) }}">Register</a></li>
			<li><a href="{{ path('app_home_producttypes', {}) }}">Type</a></li>
			<li><a href="{{ path('app_home_home', {}) }}">home</a></li>
			<li><a href="{{ path('app_home_removeproduct', {}) }}">removeproduct</a></li>
			<li><a href="{{ path('app_home_condition', {id: 1}) }}">condition</a></li>
			<li><a href="{{ path('static') }}">static</a></li>
		</ul>
	</div>
{%- endblock -%}