{% extends 'base.html.twig' %}

{% block title %}Hello TurboStreamController!{% endblock %}

{% block body %}
	
	<h1
		class="page-title"
	>Train page</h1>
	
	<a href="{{ app.request.basePath~app.request.pathInfo }}/append">APPEND</a>
	<a href="{{ app.request.uri }}/prepend" data-turbo-stream="true">PREPEND</a>
	<a href="{{ app.request.uri }}/replace" data-turbo-stream="true">REPLACE</a>
	<a href="{{ app.request.uri }}/update" data-turbo-stream="true">UPDATE</a>
	<a href="{{ app.request.uri }}/remove" data-turbo-stream="true">REMOVE</a>
	<a href="{{ app.request.uri }}/before" data-turbo-stream="true">before</a>
	<a href="{{ app.request.uri }}/after" data-turbo-stream="true">after</a>
	<a href="{{ app.request.uri }}/refresh" data-turbo-stream="true">refresh</a>
	
	<div id="target_id" class="">
		<div {{ stimulus_controller('some-content') }}
			data-action="
				click->some-content#click
			"
		class="">
			DEFAULT CONTENT
		</div>
	</div>
	
{% endblock %}

{% block train_block %}
	<turbo-stream action="{{- turbo_stream_action -}}" target="target_id" method="morph">
		<template>
			<div
				id="child_id"
				{{ stimulus_controller('some-content') }}
				data-action="
					click->some-content#click
				"
			>
				<h1>TURBO STREAM CONTENT</h1>
			</div>
		</template>
	</turbo-stream>
	
	<turbo-stream action="update" targets=".page-title">
		<template>
			ANOTHER TITLE
		</template>
	</turbo-stream>
	
	<turbo-stream action="remove" targets=".old"></turbo-stream>
{% endblock %}
